body {
   padding: 20px;
   background-color:#f3f0e9;
   background-image: url('back4.png');
}
p {

   font-size: 40pt;
color: #5b462c;
text-align: center;
padding: 18px 0 18px 0;
margin: 0 0 10px 0;
font-family: 'Handlee', cursive;
letter-spacing: 4px;
}

.link1 {
   display: block;
  width: 20%;
  border: none;
  cursor: pointer;
  margin: -10px;
 
  color: aliceblue;
  text-decoration: none;
  float: center;
  text-align: center;
  font-family: 'Hubballi', cursive;
font-family: 'Oswald', sans-serif;
  font-size: larger;
  
}

.group{
display: flex;
align-items: center;
justify-content: center;
padding-top: 20px;
margin: auto auto auto 30px;
}
 .group button{

      border: 1px solid #4e6c80;
      color: #fff;
      padding: 12px 20px ;
      cursor: pointer;
      
      font-size: large;
      text-align: center;
     margin: -4px;
      }
       .img1{
         width: 500px;
         height: 50vh;
         margin: 10px 240px;
         padding: 45px 100px;  
       }
       .link1 {background-image: linear-gradient(to right, #5b462c 0%, #ddc076 51%, #cecece  100%)}
       .link1 {
          margin: 10px;
          padding: 15px 45px;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          background-size: 200% auto;
          color: white;            
          box-shadow: 0 0 20px #eee;
          border-radius: 10px;
          display: block;
        }
 
 
  